## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import widgetsnbextension
import gmaps.datasets
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Cape Town,ZA,57.88,heavy intensity rain,-33.9258,18.4232,Southern Sun Waterfront Cape Town
1,1,Arlit,NE,97.20,overcast clouds,18.7369,7.3853,Case de Passage De la Prefecture
2,2,Kaitangata,NZ,37.58,overcast clouds,-46.2817,169.8464,Kaitangata Motor Camp
3,4,Varkaus,FI,64.51,overcast clouds,62.3153,27.8730,Hotel Oscar
4,5,Port Elizabeth,ZA,58.10,overcast clouds,-33.9180,25.5701,39 On Nile Guest House

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
City_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=City_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df.City=="Garlasco")]
vacation_end = vacation_df.loc[(vacation_df.City=="Garlasco")]
vacation_stop1 = vacation_df.loc[(vacation_df.City=="Codogno")]
vacation_stop2 = vacation_df.loc[(vacation_df.City=="Mantua")] 
vacation_stop3 = vacation_df.loc[(vacation_df.City=="Oga")] 
print(vacation_start)

     City_ID      City Country  Max Temp Current Description      Lat     Lng  \
384      434  Garlasco      IT     76.66       broken clouds  45.1974  8.9238

           Hotel Name
384  I Diamanti Hotel

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
str = [tuple(r) for r in vacation_start[['Lat', 'Lng']].to_numpy()]
en = [tuple(r) for r in vacation_end[['Lat', 'Lng']].to_numpy()]
st1 = [tuple(r) for r in vacation_stop1[['Lat', 'Lng']].to_numpy()]
st2 = [tuple(r) for r in vacation_stop2[['Lat', 'Lng']].to_numpy()]
st3 = [tuple(r) for r in vacation_stop3[['Lat', 'Lng']].to_numpy()]

# rounding up the longitude and latitudes upto 2 decimal places, otherwise will face trait error
#start
start1 = round(str[0][0], 2)
start2 = round(str[0][1], 2)
start = (start1, start2)

#end
end1 = round(en[0][0], 2)
end2 = round(en[0][1], 2)
end = (end1, end2)

#stop1
st11 = round(st1[0][0], 2)
st12 = round(st1[0][1], 2)
stop1 = (st11, st12)

#stop2
st21 = round(st2[0][0], 2)
st22 = round(st2[0][1], 2)
stop2 = (st21, st22)

#stop3
st31 = round(st3[0][0], 2)
st32 = round(st3[0][1], 2)
stop3 = (st31, st32)

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Garlasco2oga_by_travel = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING' or 'BICYCLING' or 'WALKING')
fig.add_layer(Garlasco2oga_by_travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,434,Garlasco,IT,76.66,broken clouds,45.1974,8.9238,I Diamanti Hotel
1,460,Codogno,IT,75.72,scattered clouds,45.1619,9.7022,Corte Stella - R.T.A.
2,195,Mantua,IT,81.64,clear sky,45.1667,10.7833,Hotel la Favorita
3,204,Oga,IT,53.96,few clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))